* {
  margin: 0;
  /* height: 100%; */
  box-sizing: border-box;
}

body {
  height: 100%;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background-color: lightgrey;
}

#resume-container {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-level {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  margin-top: 35px;
  padding-left: 5%;
  gap: 20px;
}

#additional-features {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

#colour-select {
  width: 80%;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

#colour-select > p {
  font-size: 0.92rem;
  font-weight: 600;
  color: #2b3d4d;
}

#colour-select > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}

#editing-container {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

#download {
  width: 80%;
  height: 35px;
  background-color: #2b3d4d;
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  border-radius: 10px;
  border: none;
}

#download > p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
}

#load-example {
  width: 80%;
  height: 35px;
  background-color: #2b3d4d;
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  border-radius: 10px;
  border: none;
}

#load-example > p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;

  font-weight: 600;
}

#clear-resume {
  width: 80%;
  height: 35px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  border-radius: 10px;
  border: none;
}

#clear-resume > p {
  color: rgb(176, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;

  font-weight: 600;
}

#editing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

#download:hover,
#load-example:hover,
#clear-resume:hover {
  transform: scale(1.05);
}

#personal-info {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

#personal-info > p {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  margin: 10px; /* Ensure there's spacing around the paragraph */
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  width: 90%; /* Ensure that the container takes the full available width */
}

label {
  font-size: 0.85rem;
  font-weight: 600;
}

input {
  color: black; /* Ensure text color is black */
  height: 30px;
  width: 100%;
  border: none;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 5px;

  font-size: 0.85rem;
}

#resume {
  display: grid;
  grid-template-rows: 1fr 6fr;
  background: white;
  width: 650px;
  height: 800px;
  margin-left: 50px;
  margin-top: 20px;
}

#resume-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b3d4d;
}

#name {
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

#personal-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.detail-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}

/* Resume Information */
#resume-information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#resume-education,
#resume-experience,
#resume-skills {
  width: 95%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
}

.skill-item {
  font-size: 0.85rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #eef1f2;
  font-size: 1.2rem;
  font-weight: 700;
  color: #2b3d4d;
}

#experience-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 5px;
}

.experienceTitle {
  font-weight: 600;
}

.experience-position {
  font-weight: 500;
  font-size: 0.9rem;
  color: #555;
}

.experience-description {
  /* border: solid; */
  width: 80%;
  grid-column: 2/3;
}

.content > div {
  font-size: 0.85rem;
}

/* resume education content */
#education-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}

.edu-content {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 5px;
}

.edu-content > div {
  font-size: 0.85rem;
}

.educationTitle {
  font-weight: 600;
}

.education-degree {
  font-weight: 500;
  font-size: 0.9rem;
  color: #555;
}

/* Exprience Section */
.page-container {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

.page-title {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center; /* Center items vertically */
}

.page-title > svg {
  justify-self: center; /* Center the icons horizontally */
}

.page-title > p {
  display: flex;
  justify-content: start;
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  margin: 10px; /* Ensure there's spacing around the paragraph */
}

.break {
  width: 100%;
  height: 2px;
  background-color: black;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10px;
  gap: 10px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: #2b3d4d;
  border-radius: 10px;
  gap: 10px;
}

.add-container > p {
  color: white;
}

.experience-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.company-item {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.company-item > p {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  color: black;
  margin-left: 10px;
}

/* Skill section */
.skill-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.skill-item-content {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.skill-item-content > p {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  color: black;
  margin-left: 10px;
}

/* Education Section */
/* Required:  */
.education-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.edu-item {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.edu-item > p {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  color: black;
  margin-left: 10px;
}

/* Experience Details */
#experience-info {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  background: #ffffff;
}

.date {
  display: flex;
  padding-right: 10px;
}

textarea {
  color: black; /* Ensure text color is black */
  height: 30px;
  width: 100%;
  border: none;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px;

  font-size: 0.85rem;
}

#experience-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

#experience-buttons > button {
  width: 5vw;
}
/* Skills Details */
#skill-info {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  background: #ffffff;
}

#skill-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

#skill-buttons > button {
  width: 5vw;
}

/* Education Details */
#education-info {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  background: #ffffff;
}

.date {
  display: flex;
  padding-right: 10px;
}

textarea {
  color: black; /* Ensure text color is black */
  height: 30px;
  width: 100%;
  border: none;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px;

  font-size: 0.85rem;
}

#education-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

#education-buttons > button {
  width: 5vw;
}

/* Resume CSS */

#resume-information {
  background-color: white;
}

@media (max-width: 1250px) {
  #main-container {
    flex-direction: column;
  }

  #editing-container,
  #resume-container {
    width: 100%;
  }
}
/* 
@media (max-width: 800px) {
  #resume {
    max-width: 500px;
  }
} */

@media (max-width: 500px) {
  #editing-container,
  #resume-container {
    padding: 10px;
  }
}
