* {
  margin: 0;
  /* height: 100%; */
  /* box-sizing: border-box; Added this line for better control over width and padding */
}

body {
  height: 100%;
}

#main-container {
  height: 1000px;
  width: 100vw;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

#resume-container {
  display: flex;
  justify-content: start;
  align-items: start;
  /* background: lightcyan;          */
}

#editing-container {
  display: flex;
  justify-content: end;
  align-items: start;
  /* background-color: #2b3d4d; */
}

#editing {
  display: flex;
  flex-direction: column;
  /* border: solid; */
  justify-content: start;
  align-items: start;
  width: 90%;
  margin-top: 35px;
  gap: 20px;
}

#personal-info {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

#personal-info > p {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  margin: 10px; /* Ensure there's spacing around the paragraph */
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  width: 90%; /* Ensure that the container takes the full available width */
}

label {
  font-size: 0.85rem;
  font-weight: 600;
}

input {
  color: black; /* Ensure text color is black */
  height: 30px;
  width: 100%;
  border: none;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 5px;

  font-size: 0.85rem;
}

#resume {
  display: grid;
  grid-template-rows: 1fr 6fr;
  background: white;
  width: 75%;
  height: 800px;
  margin-left: 50px;
  margin-top: 20px;
}

#resume-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b3d4d;
}

#name {
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

#personal-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.detail-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}

/* Exprience Section */
.page-container {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 400px);
  height: auto; /* Adjust height to fit content */
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

.page-title {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center; /* Center items vertically */
}

.page-title > svg {
  justify-self: center; /* Center the icons horizontally */
}

.page-title > p {
  display: flex;
  justify-content: start;
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  margin: 10px; /* Ensure there's spacing around the paragraph */
}

.break {
  width: 100%;
  height: 2px;
  background-color: black;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10px;
  gap: 10px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: #2b3d4d;
  border-radius: 10px;
  gap: 10px;
}

.add-container > p {
  color: white;
}

/* Resume CSS */

#resume-information {
  background-color: white;
}

@media (max-width: 1200px) {
  #main-container {
    grid-template-columns: 1fr 600px; /* Left container shrinks, right remains fixed */
  }

  #resume {
    width: 500px;
  }
}

@media (max-width: 800px) {
  #main-container {
    grid-template-columns: 1fr 600px; /* Further reduction of the left container */
  }
}

@media (max-width: 500px) {
  #main-container {
    grid-template-columns: 1fr; /* Stacks the containers on top of each other */
    grid-template-rows: 400px 1fr; /* Divide the screen equally */
    overflow-y: auto; /* Makes the content scrollable */
  }
}
